version: 2.1
orbs:
  node: circleci/node@7.2.1

jobs:
  build: # this can be any name you choose
    docker:
      - image: cimg/node:24.11.0-browsers
    executor: node/default # use the default executor defined within the orb
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: Build code
          command: npm run build
      - run:
          name: Lint code
          command: npm run lint
      - run:
          name: Test code
          command: |
            npx playwright install chromium
            npm run test
